{% extends "sketch_ui/base.html" %}

{% block content %}

    
    
    <div id="serverpanel">
        <h1>Server info</h1>
        <button class="btn btn-info" id="test-meta-server">Server</button>
        <button class="btn btn-info" id="test-meta-db">Db</button>
        <button class="btn btn-info" id="test-meta-parsers">Parsers</button>
    </div>
    <hr/>
    
    <div id="querypanel">
        <h1>Query</h1>

        <label>Collection</label><input id="objects-collection"/><br/>
        <label>Query</label><textarea  style="width:500px;height:100px;"  id="objects-query"></textarea><br/>
        <button class="btn" id="test-objects">Get objects</button><br/>   
    </div>
    <hr/>     
    <div id="importpanel">    
        <h1>Import</h1>
        
        <label>Collection</label><input id="import-collection"/><br/>
        <!-- #todo: radio or select -->
        <label>Format</label>
        <select id="import-format">
            <option value="jsonlist">jsonlist</option>
            <option value="jsontext">jsontext</option>
        </select>
        <br/>
        <label>Data</label><textarea style="width:500px;height:200px;" id="import-data"></textarea><br/>
        <br>
        <label>Commit?</label><input type="checkbox" id="import-commit"/>
        <button class="btn btn-danger" id="test-import">Test import</button><br/>
    </div>
    <hr/>    

    
    
    <div id="console-div"></div>


{% endblock %}

<!-- this block contains javascript inside html body -->
{% block js_body %}

    <script src="/static/sketch/js/sketch.js"></script>
    <script src="/static/sketch_ui/js/lib/jquery.tmpl.min.js"></script>
    <script src="/static/sketch_ui/js/lib/knockout-2.1.0.js"></script>
    <script src="/static/sketch_ui/js/browser.js"></script>

<script>

    

</script>



{% endblock %}
